# ignore system files
*/.DS_Store
.DS_Store
.DS_Store?
thumbs.db
__MACOSX
._*
*.jar
mysql-connector-license.txt
/.project
.idea/
/.settings/
/.buildpath
.project


# ignore error log
error_log
.ftpquota
/.idea/


# DO NOT ignore site.php, only files in web/config/*.local.php
/web/config/*.local.php

#ignore everything but the index.html
/web/files/*
!/web/files/index.html


# ignore updates folder
/web/updates/*

# ignore concrete packages folder; *not* web/packages though
#/web/packages/* ### See documentation for deploying to Pagoda ###
#/web/concrete/packages/*

# more stuff
/web/css/*
/web/js/*
#/web/blocks/* #pagoda
/web/languages/*
/web/tools/*
#/web/controllers/* #pagoda
#/web/single_pages/*
/web/models/*

# ignore sitemap.xml
/web/sitemap.xml


# DO NOT ignore the .htaccess file; track it
!/web/.htaccess
