# ignore system files
*/.DS_Store
.DS_Store
.DS_Store?
thumbs.db
__MACOSX
._*
*.jar
mysql-connector-license.txt
/.project
.idea/
/.settings/
/.buildpath
.project


# ignore error log
error_log
.ftpquota
/.idea/


#ignore everything but the index.html
/web/files/*
!/web/files/index.html


# ignore updates folder
/web/updates/*


