/*!
 * Parallax stuff on the homepage
 */
#parallax-L1 {color:#fff;overflow:hidden;} 
    #panorama {position:absolute;top:0;bottom:0;left:0;z-index:1;} /* width is set via javascript according to image width */
    #parallaxPanels {width:400%;z-index:3;} /* # of panels * 100 */
    #parallaxPanels .panel {float:left;width:25%;} /* 100 / # of panels */
    #parallaxPanels .panel .inner {padding:80px 80px;}
    #parallaxPanels .panel .inner h1,
    #parallaxPanels .panel .inner h2,
    #parallaxPanels .panel .inner h3 {line-height:1em;text-shadow:0 1px 4px #000;}
    #parallaxPanels .panel .inner h1 small,
    #parallaxPanels .panel .inner h2 small,
    #parallaxPanels .panel .inner h3 small {color:#e9e9e9;padding:.6em 0;display:block;}
    #parallaxPanels .panel .inner .container-fluid.dark {position:relative;z-index:3;padding-top:1em;padding-bottom:1em;background:rgba(0,0,0,.75); -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; -webkit-box-shadow:0 0 8px rgba(0,0,0,.6);-moz-box-shadow:0 0 8px rgba(0,0,0,.6);box-shadow:0 0 8px rgba(0,0,0,.6);}

    /* arrow controls */
    #parallax-L1 .control {display:block;line-height:1em;font-size:5em;position:absolute;z-index:4;top:50%;margin-top:-.5em; text-shadow:0 1px 1px #000; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
    #parallax-L1 .control:hover {color:inherit;background:rgba(255,255,255,.3);}
    #parallax-L1 .control.left {left:10px;padding:0 14px 8px 12px;}
    #parallax-L1 .control.right {right:10px;padding:0 12px 8px 14px;}

    /* close button */
    a.closer {display:block;width:auto;position:absolute;top:10px;right:10px;z-index:4;}
    a.closer:hover {color:inherit;}

    /* gradient overlay */
    .mdnzr-cssgradients #gradientOverlay {position:absolute;top:0;right:0;bottom:0;left:0;z-index:2;
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNTUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjg0Ii8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 21%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.84) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(21%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.84))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 21%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.84) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 21%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.84) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 21%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.84) 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 21%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.84) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d6000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    }
