body.pt-news_post {
  #cPageContent .innerHead {margin-bottom:0;}
  .descr {background:#e5e5e5;margin-bottom:20px;padding:12px 15px;border-bottom:1px dashed #ccc;font-size:1.2em;font-style:italic;color:#666;}
}