/**************************************************************
 * Home Page Type
 *************************************************************/
body.pt-home {
  #cL4 {padding:20px 15px 5px;max-width:800px;}

  #tagLine {text-align:center;margin:45px 0 60px;
    #tojLogo {width:170px;display:block;margin:0 auto 20px;text-align:center;}
    h1 {position:relative;display:inline-block;left:65px;margin:0 auto;line-height:1em;color:#fff;text-align:left;text-shadow:0 1px 4px #000;
      small {display:block;color:#e9e9e9;padding:.6em 0 0;}
      img {width:120px;position:absolute;top:-22px;left:-130px;}
    }
  }

  #homeSearch {margin-bottom:20px;
    .inner {position:relative;
      input {position:relative;z-index:2;padding-left:35px;@include box-shadow(0 0 20px rgba(0,0,0,.65));}
      i {position:absolute;z-index:3;font-size:1.7em;left:8px;top:10px;}
      button {position:absolute;z-index:3;right:0;top:0;padding-top:11px;}
    }
  }

  #introLinks {color:#f1f1f1;text-align:center;margin-bottom:10px;@include clearfix;
    .ccm-block-styles {background:none !important;}
    .element {width:49%;float:left;margin-bottom:10px;
      a {display:block;padding:1.2em 1em 1em;color:inherit;border:1px solid transparent;@include bgBlackOpaque80;background-clip:padding-box;@include border-radius(8px);@include box-shadow(0 0 4px #000);
        i {display:block;margin:0 auto;font-size:2.9em;margin-bottom:.1em;}
        span {white-space:normal;max-width:70px;display:block;text-align:center;margin:0 auto;}
        &:hover {text-decoration:none;border:1px solid #fff;color:inherit;}
      }
      &:nth-child(even) {float:right;}
    }
  }

  /**
   * new square homepage editable block
   */
  .square-call {
    text-align: center;
    padding-bottom: 20px;
    cursor:pointer;
    z-index:8;
    max-width:120px;
    display:block;
    position:absolute;
    .img-thumbnail{
      border:none;
    }
    &.left-call{
      left: 15px;
    }
    &.right-call{
      right:15px;
    }
    a {display:inline-block;margin:0 auto;
      img {max-width:130px;}
    }
  }


  @media screen and (max-width:$grid-float-breakpoint){
    .square-call {
      position: relative;
      top:15px;
    }
  }

  /**
   * Green Initiative
   */
  $greenBoxSpacing: $grid-gutter-width / 2;
  #green-init {color:inherit;display:block;position:relative;margin-bottom:20px;padding:$greenBoxSpacing;background:rgba(255,255,255,0.65);@include border-radius(8px);@include box-shadow(0 0 4px #000);@include transition(all 0.35s ease);
    i {position:absolute;font-size:6rem;left:-1.7rem;top:-0.95rem;color:lighten(#449d44, 15%);@include text-shadow(0 0 15px rgba(0,0,0,0.65));@include transform(rotateZ(-24deg));}
    span {display:block;background:#449d44;color:#fff;font-size:1.9rem;font-weight:100;margin:(-$greenBoxSpacing) (-$greenBoxSpacing) $greenBoxSpacing;padding:10px 10px 10px 42px;@include border-radius(8px 8px 0 0);}
    p {margin:0;}
    &:hover {text-decoration:none;background:#fff;}
  }
}

// animations for scaling in app buttons
@include keyframes(introLinks){
  from { opacity:0;@include transform(scale(.8,.8)); }
  to { opacity:1;@include transform(scale(1,1)); }
}

#introLinks .element {
  @include animation(introLinks 1s 1 normal);
}


/**************************************************************
 * Departments Page Type (remember, mobile first!)
 *************************************************************/
body.pt-department {
  #cPageContent {padding-bottom:0;}
  .innerHead {margin-bottom:0;}

  // remove padding on large devices (make flush with container)
  .unpad-lg {margin:0 -15px;}

  #areaTop {//margin-bottom:15px;
    .navbar {margin:0;border:0;@include border-radius(0);
      .navbar-toggle {padding:7px 12px;margin-bottom:0;}
    }

    #departmentNavList ul {float:none;}
  }

  // "body" section
  .body-content {
    .column-content {padding:15px;
      .panel {
        h3 {margin:0;}
        .panel-footer {text-align:center;font-size:115%;border-top:0;}
      }
    }
    .content-right-wrap {padding-bottom:15px;}
    .column-content-viewing-posts {padding:15px;display:none;}
    .toggle-posts {
      &.expand {display:none;}
    }
  }
}

// @todo: move to media queries file
@media screen and (min-width:$grid-float-breakpoint){
  body.pt-department {
    .body-content {
      .tabular {display:table;width:100%;
        .cellular {display:table-cell;min-height:100%;height:100%;vertical-align:top;@include transition(all .5s ease);
          &.left {width:68%;max-width:68%;}
          &.right {width:32%;max-width:32%;background:#e9e9e9;border-left:1px solid #d1d1d1;
            img {max-width:300px;width:auto !important;height:auto !important;}
          }
          .column-content {padding:15px;
            .panel {margin:-15px;border-left:0;border-right:0;@include border-radius(0);}
          }
        }
      }

      .toggle-posts {
        &.expand {display:block;}
        &.view-more {display:none;}
      }

      // "view more" posts
      &.posts-view {
        .cellular {
          &.left {width:auto;
            .column-content {display:none;}
            .column-content-viewing-posts {display:block;}
          }
          &.right {width:100%;}
        }

        .content-right-wrap {display:none;}

        .toggle-posts {
          &.expand {display:none;}
          &.view-more {display:block;}
        }
      }
    }

    // CMS edit mode on department pages
    &.edit-mode {
      .body-content .tabular .cellular .column-content .panel {
        margin-top:0;
      }
    }
  }
}




/**************************************************************
 * Modal Page Type
 *************************************************************/
// drop the z-index when editing so areas don't get overlayed
body.pt-modal .modal {z-index:4;display:block;margin-top:70px;}


/**************************************************************
 * News_Post Page Type
 *************************************************************/
body.pt-news_post {
  #cPageContent .innerHead {margin-bottom:0;}
  .descr {background:#e5e5e5;margin-bottom:20px;padding:12px 15px;border-bottom:1px dashed #ccc;font-size:1.2em;font-style:italic;color:#666;}
}