/****************************** BASIC STUFF ******************************/
html, body, #cL1 {height:100% !important;}
body {font-family:'Roboto Slab', serif;background:#1d1d1d;/*url(#{$imagePath}textures/black_lozenge.png);background-attachment:fixed;*/}
h1,h2,h3,h4,h5 {font-family:inherit;font-weight:700;}
a {cursor:pointer;}


/****************************** ACCESSIBILITY (BODY FONT SIZE) ******************************/
body[data-zoom="15"] {font-size:15px;}
body[data-zoom="17"] {font-size:17px;}
body[data-zoom="19"] {font-size:19px;}
body[data-zoom="20"] {font-size:20px;}


/****************************** SHARED GLOBALLY ******************************/
.backStretch {background-position:50% 50%;background-size:cover;background-repeat:no-repeat;
  &.anchorLeft {background-position:0 50%;}
}

.alertGroup {margin-bottom:20px;@include rounded(6px);@include boxShadow(0 0 4px rgba(0,0,0,.45));
  .alert {margin:0;display:block;@include clearfix;@include rounded(0);
    &:first-child {@include rounded(6px,6px,0,0);}
    &:last-child {@include rounded(0,0,6px,6px);}
    &:only-child {@include rounded(6px);}
    &:not([href]) {text-decoration:none;}
    &.alert-success:hover {color:$textAlertSuccess;}
    &.alert-warning:hover {color:$textAlertWarning;}
    &.alert-danger:hover {color:$textAlertDanger;}
    i {float:left;font-size:22px;}
    span {display:block;margin-left:30px;text-transform:capitalize;}

    &.no-icon {
      span {margin-left:0;}
    }
  }
}

.popover .alertGroup {margin:0;}


/****************************** BOOTSTRAP OVERRIDES ******************************/
button:focus {outline:0;}

blockquote {font:italic normal 1.45em/1.4em 'Droid Serif', serif;margin-left:30px;margin-right:30px;border-left-color:$textMediumGray;background:#fff; @include rounded(4px);@include boxShadow(inset 0 0 4px rgba(0,0,0,.35));
  p {font-size:1em;} // text editor puts p inside blockquote
}

span.badge {font-weight:100;letter-spacing:1px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

.modal {
  .modal-dialog {
    .modal-header {padding:12px 20px 13px 20px;@include rounded(6px,6px,0,0);@include linearGradientLight;
      button.close {font-size:34px;}
      h3, h4 {padding-top:.1em;margin:0;}
    }
    .modal-body {
      img {max-width:100%;}
    }
  }
}


/************************ Sidebars ************************/
.sidebars {width:$sidebarWidth;position:fixed;top:0;bottom:0;overflow-y:hidden;z-index:0;
  .working {font-size:22px;color:#555;display:none;text-align:center;padding-top:100px;}
  &[data-load] .working {display:block;}
  .inner {padding:10px;min-height:100%;}
}

#sidebarLeft {left:0;
  .inner {padding:0;
    a {color:#92bdd6;}
    .panel {border:0;margin-bottom:0;color:#fff;background-color:#1d1d1d;@include rounded(0);
      .panel-heading {border-color:#444;background:#2d2d2d;color:inherit;@include rounded(0);}
      ul.list-group li {background:none;border-color:#333;}
    }
  }

  .weatherWidget {display:block;color:#444;font-size:22px;font-weight:bold;
    &:hover {text-decoration:none;}
    .panel-body {text-align:center;
      span.badge {position:relative;top:-3px;}
    }
  }
}

#sidebarRight {right:0;color:#fff;overflow:hidden;
  .inner {height:100%;
    .content {padding-bottom:10px;}
    .thumbEl {display:block;margin:0 0 10px;position:relative;height:20%;
      span.thumb {display:none;position:absolute;top:0;right:0;bottom:0;left:0;background-size:cover;background-position:50% 50%;@include boxShadow(0 0 10px #000);}
    }
  }
}


#sidebarGallery {position:fixed;top:0;right:0;bottom:0;left:0;z-index:99;background:rgba(0,0,0,.8);
  .wrap {text-align:center;position:relative;padding:30px;height:100% !important;@include borderBox;
    .closable {display:block;position:absolute;top:0;right:20px;font-size:3em;color:#fff;}
    img {max-width:100%;max-height:100%;padding:5px;background:rgba(255,255,255,.8);@include boxShadow(0 0 20px #000);@include rounded(50px);}
  }
}
.cms-admin #sidebarGallery {top:49px;}


/************************ Page container levels ************************/
#cL1 {background:#1d1d1d;position:relative;z-index:1;@include cssTransition(margin .25s ease-in);}
  // Large background container
  #pageBackgroundImage {background-color:#1d1d1d;display:block;position:fixed;top:0;right:0;left:0;bottom:0;z-index:0;@include cssTransition((left .25s ease-in, right .25s ease-in));
    span.backStretch {position:absolute;top:0;right:0;bottom:0;left:0;}
  }
// Container Level 2
#cL2 {min-height:0;/*100%;*/position:relative;z-index:1;@include boxShadow(0 0 20px #000);}
// Container Level 3
#cL3 {padding:51px 15px 0;/*80px 45px 20px;*/}
// Container Level 4
#cL4 {margin:0 -15px;/*0 auto;*/max-width:$contentMaxWidth;}


/************************ Main site navigation ************************/
#primaryNav {background:#111;@include cssTransition((left .25s ease-in, right .25s ease-in));
  .navbar-header {
    // @note, there is also .status-alert-mobile in the ul.nav navigation links that *doesn't* need these styles
    .status-alert-icon {color:#fff;position:absolute;display:block;padding:0 8px;right:57px;top:8px;font-size:25px;}
    // responsive toggler button
    .navbar-toggle {color:#fff;padding:7px 12px;margin-bottom:0;background:#2d2d2d;
      &:hover {background:#1d1d1d;}
    }
    // name and logo
    .navbar-brand {color:#fff;position:relative;
      img {max-height:36px;position:absolute;left:100%;margin-left:-8px;top:7px;}
    }
  }

  // navigation links
  ul.nav {position:relative;
    li {position:static;overflow:visible;
      // first level link
      a.level-1 {color:#e5e5e5;cursor:pointer;z-index:1;}
      // flyout submenu
      .subMenu {display:none;background:#f5f5f5;position:absolute;padding:15px 0;top:100%;left:0;right:10px;@include boxShadow(0 2px 8px rgba(0,0,0,.65));@include rounded(0,0,6px,6px);
        .menuInner {padding:0 15px;width:100%;
          .well {margin:0;background-color:#e9e9e9;}
          .list-unstyled li a {display:block;padding:5px;@include rounded(3px);@include cssTransition(padding .15s ease);
            &:hover {background:#fff;padding-left:9px;text-decoration:none;@include boxShadow(inset 0 0 4px rgba(0,0,0,.5));}
          }
        }
      }
      // on hovering the <li> (sticky is cms editing helper)
      &:hover, &.sticky {
        a.level-1 {color:$textMediumGray;background:#f5f5f5;}
        //.subMenu {display:block !important;} // true mobile-first handles this in the media query
      }

      // news and current tab specifically
      &.newsAndCurrent {
        .list-unstyled li {
          a {display:block;color:#333;
            h4 {margin:0;padding-bottom:5px;line-height:1.3em;text-transform:capitalize;}
            &:hover {padding-left:5px;}
          }
        }
      }
    }
  }

  .popover {margin-right:15px;}
}

/************************ Main content container ************************/
#cPageContent {padding:0 15px 1em;overflow:hidden;@include bgWhiteOpaque90;
  .innerHead {margin-bottom:20px;
    // very top row, breadcrumbs and social icons
    .breadcrumbSocial {background:#fff;border-bottom:1px solid #ddd;
      // breadcrumbs
      .breadcrumbNav {@include tabbedList;margin-left:-12px;font-size:12px;letter-spacing:1px;text-transform:capitalize;font-weight:200;font-family:'helvetica neue', arial, sans-serif;
        li {padding:12px 20px 11px 12px;background:url('#{$imagePath}breadcrumb-arrow@2x.png') no-repeat 100% 50%;background-size:11px 35px;
          &.current {font-weight:bold;}
          &:last-child {background:none;}
        }
      }
      // social icons
      .sociable {color:$textMediumGray;font-size:1.7em;min-height:35px;min-width:120px;
        .service {top:7px;position:relative;float:left;font-size:11px;
          &.tw {right:-15px;}
        }
      }
    }
    // second row page name, and optionally (for news pages) some author info
    .pageTitle {
      h1 {font-weight:300;margin:0 -15px 0;padding:.3em 0 .4em 20px;background:#f1f1f1;border-top:1px solid #f9f9f9;border-bottom:1px solid #ddd;text-shadow:0 1px 0 #fff;}
      .pageMeta {
        .circle {position:relative;left:-8px;display:inline-block;padding-top:14px;overflow:hidden;vertical-align:middle;width:60px;height:60px;text-align:center;margin-top:2px;font-size:12px;color:#fff;background:#a47e3c;@include rounded(50%);@include borderBox;
          &:first-child {left:0;z-index:2;}
          &.img {background-size:cover;background-position:50% 50%;}
        }
        span.name {font-size:16px;top:3px;position:relative;display:inline-block;text-transform:capitalize;}
      }
    }
  }

  .innerSidebar {
    .panel {
      .panel-heading {position:relative;
        .btn {position:absolute;top:0;right:0;bottom:0;padding-top:10px;}
      }
      ul.list-group {padding:0;max-height:280px;overflow-y:auto;
        li.list-group-item {
          &:hover, &.active, &.nav-path-selected {background:$linkColorDefault;
            a {color:#f5f5f5;text-decoration:none;}
          }
        }
      }
    }
  }
}


/************************ Footer container ************************/
#cFooter {color:$textMediumGray;position:absolute;top:100%;left:0;right:0;background:#e5e5e5;@include boxShadow(0 0 20px #000);
  .content {padding:1em 15px;margin:0 auto;max-width:900px;
    .iconography {
      .borderize {border-bottom:1px solid #ccc;
        ul.iconz {@include tabbedList;font-size:115%;padding-bottom:8px;text-align:center;border-bottom:1px solid #fff;
          li {float:none;
            a {color:inherit;padding:.6em .5em;
              &:hover {text-decoration:none;}
              i {font-size:1.4em;margin:0 2px;
                &:last-child {margin-right:0;}
              }
              span.inner-text {display:inline-block;position:relative;top:-3px;
                span {padding-left:4px;}
              }
            }
            &:hover a {background:#d1d1d1;@include rounded(5px);@include boxShadow(inset 0 0 7px rgba(0,0,0,.32));}
          }
        }
      }
    }

    .columns {padding:1em 0 0;
      .inner {margin-bottom:8px;background:#fff;@include rounded(4px);
        .resources {text-align:center;
          a.blockName {color:$textMediumGray;display:block;padding:6px 12px;font-weight:bold;font-size:120%;}
          ul.list-unstyled {padding:0 12px 8px;
            li {display:inline-block;
              a {display:block;padding:2px 8px;}
            }
          }
        }
      }
    }

    .legal {
      .well {font-size:12px;color:$textMediumGray;text-align:center;margin-bottom:0;background:rgba(0,0,0,.15);
        p {margin:0;}
      }
    }
  }
}


/****************************** Site settings (eg. translation, accessibility) ******************************/
#siteSettings {position:fixed;top:-100%;z-index:11;left:15px;right:15px; @include linearGradientLight; @include boxShadow(0 0 10px #000);
  .inner {position:relative;padding:1.4em 15px;text-align:center;
    a.closer {padding:8px;display:block;position:absolute;top:0;right:0;text-align:center;color:#fff;font-size:1.4em;z-index:99; @include linearGradientDark;}
  }
}


/****************************** "Recent News" styling ******************************/
.recentNews { // shared on both homepage and left sidebar
  a.read-more {display:inline-block;font-size:12px;float:right;font-weight:100;
    i {font-size:17px;position:relative;top:2px;}
    &:hover {text-decoration:none;}
  }
}
// sidebar only
#sidebarLeft .recentNews {
  a.read-more {color:#999;
    &:hover {color:#ddd;}
  }
  .badge.warning {background-color:#f0ad4e;}
  .badge.critical {background-color:#d9534f;}
}
// homepage only
#cL1 .recentNews a:hover {color:#444;
  &:hover {color:#888;}
}


/****************************** CONCRETE5 BLOCK CUSTOMIZATION ******************************/
.btImage {text-align:center;
  img {margin:0 auto;}
}
.btImageBorderless img {margin:0 auto;}

// CALENDARS (will change pending updates)
.schedulizerCalendar {
  h2 {font-size:1.2em;margin:0;padding:.4em 0 0;}
  .fc-content {background:#fff;}
  .fc-event-inner {text-indent:-9999px;height:9px;cursor:pointer;}
}
table[id*="eventTable"] {background:#fff;
  tbody {}
}


/****************************** Custom Animations ("Progressive enhancement") ******************************/
// http://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
// http://stackoverflow.com/questions/13010776/how-can-i-convert-this-css3-animation-into-a-sass-mixin
@include cssKeyframes(backgroundScaler){
  from { @include cssTransform(scale(1.1,1.1)); }
  to { @include cssTransform(scale(1,1)); }
}

#pageBackgroundImage {overflow:hidden;
  span.backStretch {
    @include cssAnimation(backgroundScaler 4s 1 normal);
  }
}

// HELPER STYLES FOR WHEN LOGGED INTO THE CMS AND EDITING
body.cms-admin {
  .sidebars, #primaryNav {top:49px;}
  #siteSettings {margin-top:49px;}
}
