/************************* 480+ (Mobiles in landscape and >) *************************/
@media (min-width: $screen-xs){
  body.pt-home {
    #introLinks {margin-left:-3px;margin-right:-3px;
      .element {width:33.33%;float:left !important;
        a {margin:0 3px;}
      }
    }
  }
}

/************************* 768+ *************************/
@media (min-width: $screen-sm){
  // bootstrap modals
  .modal .modal-dialog {width:720px;}

  // containers and unicorns rainbows n shit
  #cL2 {min-height:100%;}
  #cL3 {padding:70px 20px 20px;}
  #cL4 {margin:0 auto;}
  #cPageContent {@include rounded(5px);@include boxShadow(0 0 12px rgba(0,0,0,.75));
    .innerSidebar .panel .list-group.collapse {display:block;max-height:none;overflow:auto;}
  }

  #cFooter .content {
    .columns.row {
      .inner {border-left:1px solid #ccc;margin-bottom:1em;background:none;
        .resources {padding-left:1em;border-left:1px solid #fff;text-align:left;
          .list-unstyled.collapse {display:block;
            li {display:block;
              a {padding:2px 0;}
            }
          }
        }
      }
      .col-sm-3:first-child {
        .inner, .resources {border-left:0;}
      }
    }
  }

  #siteSettings {width:500px;margin-left:-250px;left:50%;right:auto;}

  // specific things
  body.pt-home {
    #introLinks {
      .element {width:25%;
        span {max-width:100%;}
      }
    }
  }
}


/************************* 870+ *************************/
@media (min-width: $navbarBreakpoint){
  #cL3 {padding-left:30px;padding-right:30px;}

  #primaryNav {
    .navbar-header .status-alert-icon {display:none;}

    ul.nav li {
      &:hover, &.sticky {
        .subMenu {display:block;}
      }
    }
  }
}


/************************* 992+ *************************/
@media (min-width: $screen-md){
  #cFooter .content .iconography .borderize ul.iconz {font-size:140%;}
}


/************************* 1200+ *************************/
@media (min-width: $screen-lg){
  #cL1 {margin-left:$sidebarWidth;}
  #primaryNav, #pageBackgroundImage {left:$sidebarWidth;}
  #newsItems {display:none;} // homepage
  /************************* 1334+ *************************/
  @media (min-width:$sidebarRightShowAt){
    #cL1 {margin-right:$sidebarWidth;}
    #primaryNav, #pageBackgroundImage {right:$sidebarWidth;}
  }
}