/****************************** SIDEBAR SPECIFIC BREAKPOINTS ******************************/
@media (min-width:$sidebarLeftShowAt){
  #cL1 {margin-left:$sidebarWidth;}
  #primaryNav, #pageBackgroundImage {left:$sidebarWidth;}

  @media (min-width:$sidebarRightShowAt){
    #cL1 {margin-right:$sidebarWidth;}
    #primaryNav, #pageBackgroundImage {right:$sidebarWidth;}
  }
}


/****************************** SCREENS < 900 ******************************/
@media (max-width:$screen-sm){
  // padding on the body content
  #cL3 {padding:70px 15px 20px;}

  // main navigation stuff
  #primaryNav {background:#111;
    ul.nav li:hover .subMenu {display:none;} // not "mobile first"
  }

  // default page type
  #cPageContent .innerSidebar .panel ul.list-group {max-height:340px;}

  //body.pt-home #homeSearch {margin-bottom:20px;}
}


/****************************** SCREENS < 480 ******************************/
@media (max-width:$screen-xs){
  #cL2 {min-height:0;}
  #cL3 {padding:57px 15px 0;}
  #cL4 {margin:0 -15px;}
  #cPageContent {padding-bottom:20px;@include rounded(0);}

  body.pt-home #cL4 {margin:0;}
}


/****************************** HOMEPAGE BUTTONS ******************************/
@media (max-width:739px){
  body.pt-home {
    #introLinks .element {width:48%;margin-left:0;left:0;
      &:nth-child(even) {float:right;}
      span {white-space:normal;max-width:70px;display:block;text-align:center;margin:0 auto;}
    }
  }
}


// !!!! NOT REFACTORED YET !!!!
@media (max-width:$screen-sm){
  //#cL3 {padding:70px 15px 10px;}
  // logo on the homepage
  body.pt-home {
    #tagLine {margin-bottom:25px;
      #tojLogo {display:none;}
      h1 {font-size:1.5em;}
    }
  }
  #cFooter {
    .content {
      .horiz ul.iconz {font-size:1em;
        li a {padding:8px;
          i:last-child {margin-right:0;}
        }
      }
      .columns {padding:0;
        .inner {border:0;
          .resources {font-size:.9em;margin:4px 0;padding:.3em 1em;border:0;@include rounded(4px);@include boxShadow(0 1px 3px rgba(0,0,0,.35));@include linearGradientLight;
            a {text-align:center;}
          }
        }
      }
    }
  }
}

@media (max-width:$screen-md){
  // grid view (not necessarily mobile, maybe tablets)
  #cCurrent {
    #currentMain {
      #postList.panel {
        .list-group.grid {
          .list-group-item {width:50%;}
        }
      }
    }
  }
}