body.pt-home {
  #cL4 {max-width:780px;}

  #launchParallax {cursor:pointer;z-index:8;max-width:120px;display:block;position:absolute;top:50px;right:15px;}

  #tagLine {margin-top:60px;
    #tojLogo {width:170px;display:block;margin:0 auto 20px;text-align:center;}
    h1 {margin:0;line-height:1em;color:#fff;text-align:center;text-shadow:0 1px 4px #000;
      small {display:block;color:#e9e9e9;padding:.6em 0 0;}
    }
  }

  #homeSearch {
    .inner {position:relative;
      input {position:relative;z-index:2;padding-left:35px;@include boxShadow(0 0 20px rgba(0,0,0,.65));}
      i {position:absolute;z-index:3;font-size:1.7em;left:8px;top:10px;}
      button {position:absolute;z-index:3;right:0;top:0;}
    }

    // google custom search
    div[id*="gcse"] {display:none;position:relative;top:-6px;z-index:1;
      .gsc-control-cse {@include rounded(0, 0, 5px, 5px);@include boxShadow(0 0 20px rgba(0,0,0,.65));}
    }
  }

  #introLinks {color:#f1f1f1;text-align:center;@include clearfix;
    .ccm-block-styles {background:none;}
    .element {width:25%;margin-bottom:10px;padding:0 5px;float:left;position:relative;@include borderBox;
      a {display:block;padding:1.2em 1em 1em;color:inherit;background-color:rgba(0,0,0,.8);border:1px solid transparent;background-clip:padding-box; @include rounded(8px); @include boxShadow(0 0 4px #000);
        i {display:block;margin:0 auto;font-size:2.9em;margin-bottom:.1em;}
        &:hover {text-decoration:none;border:1px solid #fff;color:inherit;}
      }
    }
  }
}