// web fonts
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic|Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

// libraries / dependencies
@import "variables-mixins";
@import "bootstrap";
@import "font-awesome";

// commons
html, body, #cL1 {height:100% !important;}
body {font-family:'Roboto Slab', serif;background:url(#{$imagePath}textures/black_lozenge.png);background-attachment:fixed;}
h1,h2,h3,h4,h5 {font-family:inherit;font-weight:700;}
a {cursor:pointer;}
blockquote {font:italic normal 1.45em/1.4em 'Droid Serif', serif;margin-left:30px;margin-right:30px;border-left-color:$textColorLightGray;background:#fff; @include rounded(4px);@include boxShadow(inset 0 0 4px rgba(0,0,0,.35));
  p {font-size:1em;} // text editor puts p inside blockquote
}
.backStretch {background-position:50% 50%;background-size:cover;background-repeat:no-repeat;
  &.anchorLeft {background-position:0 50%;}
}

.alertGroup {margin-bottom:20px;@include rounded(6px);@include boxShadow(0 0 4px rgba(0,0,0,.45));
  .alert {margin:0;@include rounded(0);
    &:first-child {@include rounded(6px,6px,0,0);}
    &:last-child {@include rounded(0,0,6px,6px);}
    &:only-child {@include rounded(6px);}
  }
}

// sidebars
.sidebars {width:$sidebarWidth;position:fixed;top:0;bottom:0;overflow-y:hidden/*auto*/;z-index:0;
  &#sidebarLeft {left:0;/*@include boxShadow(inset -20px 0 20px -20px #000);*/}
  &#sidebarRight {right:0;/*@include boxShadow(inset 20px 0 20px -20px #000);*/}
  &[data-load] {background:transparent url(#{$imagePath}loading.gif) no-repeat 50% 50%;}
  .inner {padding:10px;min-height:100%;}
}

#sidebarRight {overflow:hidden;
  .inner {padding:0;}
  span.thumb {position:relative;float:left;display:inline-block;width:80px;height:80px;background-size:cover;background-position:50% 50%;z-index:1;@include cssTransform(scale(1,1));@include cssTransition(all .15s ease-out);
    &:hover {z-index:2;@include boxShadow(0 0 8px #000);@include cssTransform(scale(1.2,1.2));
      &:nth-child(3n-2) {@include cssTransform(scale(1.2,1.2) translateX(6px));}
      &:nth-child(3n) {@include cssTransform(scale(1.2,1.2) translateX(-6px));}
    }
  }
}

// main page content
#cL1 {background:#e5e5e5;position:relative;z-index:1;@include cssTransition(margin .25s ease-in);}
#pageBackgroundImage {display:block;position:fixed;top:0;right:0;left:0;bottom:0;z-index:0;@include cssTransition((left .25s ease-in, right .25s ease-in));
  span.backStretch {position:absolute;top:0;right:0;bottom:0;left:0;}
}
#cL2 {min-height:100%;position:relative;z-index:1;@include boxShadow(0 0 20px #000);}
#cL3 {padding:80px 45px 20px;}
#cBodyContent {margin:0 auto;max-width:$contentMaxWidth;}

// WEATHER WIDGET (BLOCK)
.weatherWidget {text-align:center;color:#333;margin-bottom:1em;overflow:hidden; @include rounded(5px); @include boxShadow(0 0 5px #000); @include linearGradientLight;
  label {display:block;padding:.3em 0;font-size:inherit;color:#e1e1e1;background:rgba(0,0,0,.55);}
  img {margin-bottom:5px;}
}


// navigation
#primaryNav {@include linearGradientDark;
  .navbar-brand {color:#fff;position:relative;
    img {max-height:36px;position:absolute;left:100%;margin-left:-8px;top:8px;}
  }
  ul.nav {position:relative;
    li {position:static;
      a.level-1 {color:#e5e5e5;cursor:pointer;z-index:1;}
      .subMenu {display:none;background:#f5f5f5;position:absolute;padding:15px 0;top:100%;left:0;right:10px; @include boxShadow(0 2px 8px rgba(0,0,0,.65));@include rounded(0,0,6px,6px);
        .container {width:100%;
          .well {margin:0;background-color:#e9e9e9;}
          .list-unstyled li a {display:block;padding:5px;@include rounded(3px);@include cssTransition(padding .15s ease);
            &:hover {background:#fff;padding-left:9px;text-decoration:none;@include boxShadow(inset 0 0 4px rgba(0,0,0,.5));}
          }
        }
      }

      &:hover, &.sticky { // sticky is the class for cms editing
        a.level-1 {color:$textColorLightGray;background:#f5f5f5;}
        //.subMenu {display:block;}
      }
    }
  }
  // news and current tab
  #newsAndCurrentArea {
    .list-unstyled li {
      a {display:block;color:#333;
        h4 {margin:0;padding-bottom:5px;line-height:1.3em;text-transform:capitalize;}
        &:hover {padding-left:5px;}
      }
    }
    .alertGroup {margin:0;
      .alert {
        a {display:block;@include clearfix;
          &.no-link:hover {text-decoration:none;}
          i {float:left;font-size:22px;}
          span {display:block;margin-left:36px;text-transform:capitalize;}
        }
      }
    }
  }
}

// footer
#cFooter {color:$textColorLightGray;position:absolute;top:100%;left:0;right:0;background:#e5e5e5;@include boxShadow(0 0 20px #000);
  .content {padding:1em 15px;margin:0 auto;max-width:900px;
    .horiz {border-bottom:1px solid #ccc;
      ul.iconz {@include tabbedList;font-size:1.3em;padding-bottom:8px;text-align:center;border-bottom:1px solid #fff;
        li {float:none;
          a {color:inherit;padding:1em;
            &:hover {text-decoration:none;}
            i {font-size:1.4em;margin:0 2px;}
            span.inner-text {display:inline-block;padding-left:4px;position:relative;top:-3px;}
          }
          &:hover a {background:#d1d1d1;@include rounded(5px);@include boxShadow(inset 0 0 7px rgba(0,0,0,.32));}
        }
      }
    }
    .columns {padding:1em 0;
      .inner {border-left:1px solid #ccc;
        .resources {padding-left:1em;border-left:1px solid #fff;
          a {display:block;
            &:hover {text-decoration:none;}
            &.blockName {color:$textColorLightGray;}
          }
          ul.collapse {padding-left:0;
            li a {display:block;padding:2px 0;}
          }
        }
      }

      .col-sm-3:first-child .inner {border-left:0;
        .resources {border-left:0;}
      }
    }
    .well {font-size:12px;color:$textColorLightGray;text-align:center;margin-bottom:0;background:rgba(0,0,0,.15);
      p {margin:0;}
    }
  }
}

// SITE SETTINGS (IE, INTERNATIONALIZATION)
#siteSettings {width:520px;position:fixed;top:-100%;left:50%;margin-left:-260px;z-index:11; @include linearGradientLight; @include boxShadow(0 0 10px #000);
  .inner {position:relative;padding:1.4em 15px;text-align:center;
    a.closer {padding:8px;display:block;position:absolute;top:0;right:0;text-align:center;color:#fff;font-size:1.4em;z-index:99; @include linearGradientDark;}
  }
}

// CONTAINERS AND RAINBOWS AND UNICORNS
.whiteContainer {padding:0 15px 1em;overflow:hidden;background:rgba(255,255,255,.9); @include rounded(5px);@include boxShadow(0 0 3px rgba(0,0,0,.75));
  #landingPageHeader {margin-bottom:20px;
    h1 {font-weight:300;margin:0 -20px 0;padding:.3em 0 .4em 20px;background:#f1f1f1;border-top:1px solid #f9f9f9;border-bottom:1px solid #ddd;text-shadow:0 1px 0 #fff;}
  }

  .containerSidebar {
    .panel ul.list-group li.list-group-item {
      &:hover, &.active, &.nav-path-selected {background:$linkColorDefault;
        a {color:#f5f5f5;text-decoration:none;}
      }
    }
  }

  .topper {border-bottom:1px solid #ddd;
    // BREADCRUMBS
    #breadCrumbs {@include tabbedList;margin-left:-12px;font-size:12px;letter-spacing:1px;text-transform:capitalize;font-weight:200;font-family:'helvetica neue', arial, sans-serif;
      li {padding:12px 20px 11px 12px;background:url('#{$imagePath}breadcrumb-arrow@2x.png') no-repeat 100% 50%;background-size:11px 35px;
        &.current {font-weight:bold;}
        &:last-child {background:none;}
      }
    }

    .sociable {color:$textColorLightGray;font-size:1.7em;
      a {color:inherit;}
    }
  }

  .newsPostMeta {
    .circle {position:relative;left:-8px;display:inline-block;padding-top:14px;overflow:hidden;vertical-align:middle;width:60px;height:60px;text-align:center;margin-top:2px;font-size:12px;color:#fff;background:#a47e3c;@include rounded(50%);@include borderBox;
      &:first-child {left:0;z-index:2;}
      &.img {background-size:cover;background-position:50% 50%;}
    }
    span.name {font-size:16px;top:3px;position:relative;display:inline-block;text-transform:capitalize;}
  }
}


/****************************** PAGE TYPES ******************************/
/*### HOME ###*/
body.pt-home {
  #cBodyContent {max-width:780px;}

  #tagLine {margin:15px 0 45px;
    #tojLogo {width:170px;display:block;margin:0 auto 20px;text-align:center;}
    h1 {margin:0;line-height:1em;color:#fff;text-align:center;text-shadow:0 1px 4px #000;
      small {display:block;color:#e9e9e9;padding:.6em 0 0;}
    }
  }

  #homeSearch {margin-bottom:45px;
    .inner {position:relative;
      input {padding-left:35px;@include boxShadow(0 0 20px rgba(0,0,0,.65));}
      i {position:absolute;font-size:1.7em;left:8px;top:10px;z-index:1;}
      button {position:absolute;right:0;top:0;z-index:1;}
    }
  }

  #introLinks {margin:0 -5px 35px;color:#f1f1f1;text-align:center;@include clearfix;
    .element {width:25%;margin-bottom:10px;padding:0 5px;float:left;position:relative;@include borderBox;
      a {display:block;padding:1.2em 1em 1em;color:inherit;background-color:rgba(0,0,0,.8);border:1px solid transparent;background-clip:padding-box; @include rounded(8px); @include boxShadow(0 0 4px #000);
        i {display:block;margin:0 auto;font-size:2.9em;margin-bottom:.1em;}
        &:hover {text-decoration:none;border:1px solid #fff;color:#fff;}
      }
    }
  }
}

body.pt-news_post {
  #landingPageHeader {margin-bottom:0;}
  .descr {background:#e5e5e5;margin-bottom:20px;padding:12px 15px;border-bottom:1px dashed #ccc;font-size:1.2em;font-style:italic;color:#666;}
}

/*### MODAL ###*/
// drop the z-index when editing so areas don't get overlayed
body.pt-modal .modal {z-index:4;display:block;margin-top:70px;}


/****************************** SINGLE PAGE STYLES ******************************/
#cCurrent {
  #currentMain {
    #postList.panel {
      .panel-heading {
        h2 {margin:0;}
      }
      .list-group {
        .list-group-item {display:block;
          h4 {font-weight:bold;margin:3px 0 7px;text-transform:capitalize;}
          span {margin-bottom:0;}
        }

        &.grid {@include clearfix;
          .list-group-item {background:none;width:33.33%;border:0;border-bottom:1px solid #ccc;@include rounded(0);
            h4 {font-weight:bold;}
          }
        }
      }
      .panel-footer {text-align:center;}
    }
  }

  #currentSidebar {

  }
}


/****************************** BOOTSTRAP OVERRIDES ******************************/
.modal {
  .modal-dialog {width:720px;
    .modal-header {padding:12px 20px 13px 20px;@include rounded(6px,6px,0,0);@include linearGradientLight;
      button.close {font-size:34px;}
      h3, h4 {padding-top:.1em;margin:0;}
    }
  }
}


// transition main content and fixed background to show sidebars
@media (min-width:1240px){
  #cL1 {margin-left:$sidebarWidth;}
  #primaryNav, #pageBackgroundImage {left:$sidebarWidth;}

  @media (min-width:1480px){
    #cL1 {margin-right:$sidebarWidth;}
    #primaryNav, #pageBackgroundImage {right:$sidebarWidth;}
  }
}


// general media queries
@media (min-width:$navbarBreakpoint){
  #primaryNav {
    ul.nav li:hover .subMenu {display:block;}
  }
}

@media (max-width:$screen-sm){
  #cL3 {padding:55px 15px 10px;}
  // logo on the homepage
  body.pt-home {
    #tagLine {margin-bottom:25px;
      #tojLogo {display:none;}
      h1 {font-size:1.5em;}
    }
  }
  #cFooter {
    .content {
      .horiz ul.iconz {font-size:1em;
        li a {padding:8px;
          i:last-child {margin-right:0;}
        }
      }
      .columns {padding:0;
        .inner {border:0;
          .resources {font-size:.9em;margin:4px 0;padding:.3em 1em;border:0;@include rounded(4px);@include boxShadow(0 1px 3px rgba(0,0,0,.35));@include linearGradientLight;
            a {text-align:center;}
          }
        }
      }
    }
  }
}

@media (max-width:$screen-md){
  // grid view (not necessarily mobile, maybe tablets)
  #cCurrent {
    #currentMain {
      #postList.panel {
        .list-group.grid {
          .list-group-item {width:50%;}
        }
      }
    }
  }
}

@media (min-width:$screen-md){
  //.modal {width:720px;margin-left:-360px;}
}

@media (orientation: portrait){
  body.pt-home #introLinks .element {width:48%;margin-left:0;left:0;
    &:nth-child(even) {float:right;}
  }
}


///////////////////////// TRANSITIONS (SCALE BACKGROUND SIZE) /////////////////////////
// http://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
// http://stackoverflow.com/questions/13010776/how-can-i-convert-this-css3-animation-into-a-sass-mixin
@include cssKeyframes(backgroundScaler){
  from { @include cssTransform(scale(1.1,1.1)); }
  to { @include cssTransform(scale(1,1)); }
}

#pageBackgroundImage {overflow:hidden;
  span.backStretch {
    @include cssAnimation(backgroundScaler 4s 1 normal);
  }
}

@include cssKeyframes(introLinks){
  from { opacity:0;@include cssTransform(scale(.8,.8)); }
  to { opacity:1;@include cssTransform(scale(1,1)); }
}

#introLinks .element {
  @include cssAnimation(introLinks 1s 1 normal);
}


// cms login/status overrides
body.cms-admin {
  .sidebars, #primaryNav {top:49px;}
  #siteSettings {margin-top:49px;}
}