// libraries / dependencies
@import "variables-mixins";
@import "bootstrap";
@import "font-awesome";

// commons
html, body, #cL1 {height:100% !important;}
body {font-family:'Roboto Slab', serif;background:url(#{$imagePath}textures/black_lozenge.png);background-attachment:fixed;}
h1,h2,h3,h4,h5 {font-family:inherit;font-weight:700;}
a {cursor:pointer;}
.backStretch {background-position:50% 50%;background-size:cover;background-repeat:no-repeat;
  &.anchorLeft {background-position:0 50%;}
}

// sidebars
.sidebars {width:$sidebarWidth;position:fixed;top:0;bottom:0;overflow-y:hidden/*auto*/;z-index:0;
  &#sidebarLeft {left:0;@include boxShadow(inset -20px 0 20px -20px #000);}
  &#sidebarRight {right:0;@include boxShadow(inset 20px 0 20px -20px #000);}
  &[data-load] {background:transparent url(#{$imagePath}loading.gif) no-repeat 50% 50%;}
  .inner {padding:10px;min-height:100%;}
}

// main page content
#cL1 {background:#e5e5e5;position:relative;z-index:1;@include cssTransition(margin .25s ease-in);}
#pageBackgroundImage {display:block;position:fixed;top:0;right:0;left:0;bottom:0;z-index:0;@include cssTransition((left .25s ease-in, right .25s ease-in));}
#cL2 {min-height:100%;position:relative;z-index:1;}
#cL3 {padding:80px 45px 20px;}
#cBodyContent {margin:0 auto;max-width:$contentMaxWidth;}

// navigation
#primaryNav {@include linearGradientDark;
  .navbar-brand {color:#fff;}
  ul.nav {position:relative;
    li {position:static;
      a.level-1 {color:#e5e5e5;cursor:pointer;z-index:1;}
      .subMenu {display:none;background:#f5f5f5;position:absolute;padding:15px 0;top:100%;left:0;right:10px; @include boxShadow(0 2px 8px rgba(0,0,0,.65));@include rounded(0,0,6px,6px);
        .container {width:100%;
          .well {margin:0;background-color:#e9e9e9;}
          ul.list-unstyled li a {display:block;padding:5px;@include rounded(3px);@include cssTransition(padding .15s ease);
            &:hover {background:#fff;padding-left:9px;text-decoration:none;@include boxShadow(inset 0 0 4px rgba(0,0,0,.5));}
          }
        }
      }

      &:hover, &.sticky {
        a.level-1 {color:$textColorLightGray;background:#f5f5f5;}
        .subMenu {display:block;}
      }
    }
  }
}

// footer
#cFooter {color:$textColorLightGray;position:absolute;top:100%;left:0;right:0;background:#e5e5e5;@include boxShadow(0 0 11px rgba(0,0,0,.5));
  .content {padding:1em 15px;margin:0 auto;max-width:900px;
    .horiz {border-bottom:1px solid #ccc;
      ul.iconz {@include tabbedList;font-size:1.3em;padding-bottom:8px;text-align:center;border-bottom:1px solid #fff;
        li {float:none;
          a {color:inherit;padding:1em;
            &:hover {text-decoration:none;}
            i {font-size:1.4em;margin:0 2px;}
            span.inner-text {display:inline-block;padding-left:4px;position:relative;top:-3px;}
          }
          &:hover a {background:#d1d1d1;@include rounded(5px);@include boxShadow(inset 0 0 7px rgba(0,0,0,.32));}
        }
      }
    }
    .columns {padding:1em 0;
      .inner {border-left:1px solid #ccc;
        .resources {padding-left:1em;border-left:1px solid #fff;
          a {display:block;
            &:hover {text-decoration:none;}
            &.blockName {color:$textColorLightGray;}
          }
          ul.collapse {padding-left:0;
            li a {display:block;padding:2px 0;}
          }
        }
      }

      .col-sm-3:first-child .inner {border-left:0;
        .resources {border-left:0;}
      }
    }
    .well {font-size:12px;color:$textColorLightGray;text-align:center;margin-bottom:0;background:rgba(0,0,0,.15);
      p {margin:0;}
    }
  }
}

// SITE SETTINGS (IE, INTERNATIONALIZATION)
#siteSettings {width:520px;position:fixed;top:-100%;left:50%;margin-left:-260px;z-index:11; @include linearGradientLight; @include boxShadow(0 0 10px #000);
  .inner {position:relative;padding:1.4em 15px;text-align:center;
    a.closer {padding:8px;display:block;position:absolute;top:0;right:0;text-align:center;color:#fff;font-size:1.4em;z-index:99; @include linearGradientDark;}
  }
}

// CONTAINERS AND RAINBOWS AND UNICORNS
.whiteContainer {padding:0 15px 1em;overflow:hidden;background:rgba(255,255,255,.9); @include rounded(5px);@include boxShadow(0 0 3px rgba(0,0,0,.75));
  h1 {font-weight:300;color:#777;margin:0 -20px 20px;padding:.3em 0 .4em 20px;background:#f1f1f1;border-top:1px solid #f9f9f9;border-bottom:1px solid #ddd;text-shadow:0 1px 0 #fff;}
  .containerSidebar {
    .panel ul.list-group li.list-group-item {
      &:hover, &.active, &.nav-path-selected {background:$linkColorDefault;
        a {color:#f5f5f5;text-decoration:none;}
      }
    }
  }

  .topper {border-bottom:1px solid #ddd;
    // BREADCRUMBS
    #breadCrumbs {@include tabbedList;margin-left:-12px;font-size:12px;letter-spacing:1px;text-transform:capitalize;font-weight:200;font-family:'helvetica neue', arial, sans-serif;
      li {padding:12px 20px 11px 12px;background:url('#{$imagePath}breadcrumb-arrow@2x.png') no-repeat 100% 50%;background-size:11px 35px;
        &.current {font-weight:bold;}
        &:last-child {background:none;}
      }
    }

    .sociable {color:$textColorLightGray;font-size:1.7em;
      a {color:inherit;}
    }
  }
}


/****************************** PAGE TYPES ******************************/
body.pt-home {
  #tagLine {margin:45px 0;
    h1 {margin:0;line-height:1em;color:#fff;text-align:center;text-shadow:0 1px 4px #000;
      small {display:block;color:#e9e9e9;padding:.6em 0 0;}
    }
  }

  #homeSearch {margin-bottom:45px;
    .inner {position:relative;
      input {padding-left:35px;@include boxShadow(0 0 20px rgba(0,0,0,.65));}
      i {position:absolute;font-size:1.7em;left:8px;top:10px;z-index:1;}
      button {position:absolute;right:0;top:0;z-index:1;}
    }
  }

  #introLinks {color:#f1f1f1;text-align:center;margin-bottom:45px;@include clearfix;
    a {width:24%;float:left;margin-left:1%;margin-bottom:8px;left:-1%;position:relative;display:block;padding:1.2em 1em 1em;background-color:rgba(0,0,0,.8);border:1px solid transparent;color:inherit;background-clip:padding-box; @include borderBox; @include rounded(8px); @include boxShadow(0 0 4px #000);
      i {display:block;margin:0 auto;font-size:2.9em;margin-bottom:.1em;}
      &:hover {text-decoration:none;border:1px solid #fff;color:#fff;}
    }
  }
}


/****************************** BOOTSTRAP OVERRIDES ******************************/
// drop the z-index when editing so areas don't get overlayed
body.pt-modal .modal {z-index:4;display:block;margin-top:70px;}

.modal {
  .modal-dialog {width:720px;
    .modal-header {padding:12px 20px 13px 20px;@include rounded(6px,6px,0,0);@include linearGradientLight;
      button.close {font-size:34px;}
      h3, h4 {padding-top:.1em;margin:0;}
    }
  }
}


// transition main content and fixed background to show sidebars
@media (min-width:1240px){
  #cL1 {margin-left:$sidebarWidth;}
  #primaryNav, #pageBackgroundImage {left:$sidebarWidth;}

  @media (min-width:1480px){
    #cL1 {margin-right:$sidebarWidth;}
    #primaryNav, #pageBackgroundImage {right:$sidebarWidth;}
  }
}


// general media queries
@media (max-width:$screen-sm){
  #cL2 #cL3 {padding:70px 15px 10px;}
  #cFooter {
    .content {
      .horiz ul.iconz {font-size:1em;
        li a {padding:8px;
          i:last-child {margin-right:0;}
        }
      }
      .columns {padding:0;
        .inner {border:0;
          .resources {font-size:.9em;margin:4px 0;padding:.3em 1em;border:0;@include rounded(4px);@include boxShadow(0 1px 3px rgba(0,0,0,.35));@include linearGradientLight;
            a {text-align:center;}
          }
        }
      }
    }
  }
}

@media (min-width:$screen-md){
  //.modal {width:720px;margin-left:-360px;}
}

@media (orientation: portrait){
  body.home #introLinks a {width:48%;margin-left:0;left:0;
    &:nth-child(even) {float:right;}
  }
}


// cms login/status overrides
body.cms-admin {
  .sidebars, #primaryNav {top:49px;}
  #siteSettings {margin-top:49px;}
}