@import 'compass';
@import '../variables-mixins';
@import '../bootstrap-variables';

#cCurrent .alertGroup .alert i {padding-top:6px;}

#postList.panel {
  .panel-heading {
    h2 {margin:0;}
  }
  .list-group {
    .list-group-item {display:block;
      h4 {font-weight:bold;margin:3px 0 7px;text-transform:capitalize;}
      span {margin-bottom:0;}
      .fa-thumb-tack {position:absolute;top:10px;right:10px;color:#00cc66;margin-left:8px;@include transform(rotate(30deg));}
    }

    &.grid {@include clearfix;
      .list-group-item {background:none;width:50%;border:0;border-bottom:1px solid #ccc;@include border-radius(0);
        h4 {font-weight:bold;}
      }
    }
  }
  .panel-footer {text-align:center;}
}

// responsivenass
@media (min-width: $screen-md){
  #postList.panel .list-group.grid .list-group-item {width:33.33%;}
}